/* Remova estas propriedades para a barra de rolagem padrão */
.ListCalls {
    width: 100%;
    height: 80%;
    /* overflow: auto; */
    /* scrollbar-width: auto; */
    /* scrollbar-color: #ff9f1c00 #00000000; */
    overflow-x: hidden;
  }
  
  /* Adicione estas propriedades para criar barras de rolagem personalizadas */
  .ListCalls {
    width: 100%;
    height: 80%;
    overflow: auto;
  }
  
  /* Estilo para a barra de rolagem */
  .ListCalls::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Estilo para o polegar da barra de rolagem */
  .ListCalls::-webkit-scrollbar-thumb {
    background-color: #ff9f1c;
    border-radius: 10px;
    border: 5px double #ff9f1c;
  }
  
  /* Estilo para a barra de rolagem de fundo */
  .ListCalls::-webkit-scrollbar-track {
    background-color: #00000000;
  }


table {
    width: calc(100% - 80px);
    border-collapse: collapse;
    margin-left: 40px;
}

th, td {
    border-bottom: 1px solid #69696952;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.CallsRef {
    font-weight: bold;
    color: #696969;
    cursor:default;
}

.CallsRef:hover {
    background-color: #f1f1f1;
    cursor:default;
}

.tab1 {
    width: 6%;
    height: 64px;
}
.tab2 {
    width: 37%;
    height: 64px;
}
.tab3 {
    width: 17%;
    height: 64px;
}
.tab4 {
    width: 13%;
    height: 64px;
}
.tab5 {
    width: 13%; 
    height: 64px;
}
.tab6 {
    width: 13%;
    height: 64px;
}

table tr:hover {
    background-color: #ffbe696e;
    cursor: pointer;
}



.ReceivedCalls {
    font-weight: 400;
    color: #69696993;
    font-size: 16px
}

.scrollbarall {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.status-novo {
    color: green;
    font-weight: bold;
}
.status-em-atendimento {
    color: lightseagreen;
    font-weight: bold;
}
.status-bloqueado {
    color: red;
    font-weight: bold;
}